@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');




:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}


/* body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ballet', cursive;
    font-family: 'Reggae One', cursive;
} */

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    max-width: 1200px;
}
.subtitle{
    font-family: 'Reggae One', cursive;
    color: var(--color-primary);
    font-size: 2,5rem;
  }

.hero{
    height: 100vh;
    background-image: var(--background), url(/assets/Lisdoonvarna_eglise.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding:10px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    font-weight: 300;
}
.nav--footer{
    font-weight: 300;
    
}

.nav_items{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    padding: 05px, 1px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid #fff;
}

.link_footer{
    text-align: center;
}

.hero_container{
    display: flex;
    height: calc(100vh - 50px);
    justify-content: flex-end;
    color: #fff;
}

.hero_text{
    max-width: 100;
    margin-top: 120px;
}

.hero_title{
    font-family: 'Roboto', sans-serif;
    
    font-size: 2.2rem;
    
    
}

.hero_subtitle{
    
    font-size: 2rem;
    font-weight: 300;
    margin:  15px 0;
}

.hero_cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40;
}

.hero_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*About*/

.presentation{
    padding-top: 0;
    padding-bottom: 100;
    text-align: center;
}

.presentation_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation_copy{
    width: 80;
    margin-bottom: 50px;
}

.about{
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.about_img--rigth{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align: center;
}

.about_img--left{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    text-align: left;
}

.about_picture{  
   
    max-width: 80%;
}
.about_paragraph{
    
    margin-bottom: 20px;  
    line-height: 1.5;
    font-weight: 300;
}

/* Projects*/

.projects{
    margin-top: 50px;
    background: #f2f2f2;
}
.subtitle{
    text-align: center;
}




/* Footer */

/* .footer{
    background-image: linear-gradient(red, blue,yellow);
    
} */

footer{ 
    height:50px;
	background-image: url(http://www.keoniworld.com/wp-content/uploads/2016/06/swaying-field-grass.gif);
  	  background-position: center bottom;
	  background-size: 100% 85%;
	  background-repeat: repeat-x;
	  min-height: 20vh;
  }
  
  footer {
	text-align: center;
	padding: 10px 0 20px ;
	
}

/* footer p {
	color: #f8f8f8;
	font-size: 14px;
}

footer a.totop {
	color: #fff;
	margin-bottom: 30px;
}
footer a.totop:focus {
	outline: 0;
} */

/* .footer_grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
} */

/* .footer_title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 300px;
    text-align: right var(--boton-padding);

}

.footer_icons{
    display: flex;
    justify-content: space-evenly;
}

footer_container-icons{
    display: inline-block;
    width: 10px;
    height: 10px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;

} */

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































