@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');




:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}


/* body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ballet', cursive;
    font-family: 'Reggae One', cursive;
} */

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.subtitle{
    font-family: 'Reggae One', cursive;
    color: var(--color-primary);
    font-size: 2,5rem;
  }

.hero{
    height: 100vh;
    background-image: var(--background), url(/assets/Lisdoonvarna_eglise.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    font-weight: 300;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav_items{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    padding: 05px, 1px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid #fff;
}
.nav_items--footer{
    padding: 10px;
}

.hero_container{
    display: flex;
    height: calc(100vh - 50px);
    justify-content: flex-end;
    color: #fff;
}

.hero_text{
    max-width: 100;
    margin-top: 120px;
}

.hero_title{
    font-family: 'Ballet', cursive;
    
    font-size: 2.2rem;
    
    
}

.hero_subtitle{
    
    font-size: 2rem;
    font-weight: 300;
    margin:  15px 0;
}

.hero_cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40;
}

.hero_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*About*/

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation_copy{
    width: 80;
    margin: 0 auto;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.abaut_img{
    text-align: center;
}

.about_img--left{
    text-align: left;
}

.about_picture{
    max-width: 80%;
}
.about_paragraph{
    
    margin-bottom: 20px;  
    line-height: 1.5;
    font-weight: 300;
}

/* Projects*/

.projects{
    background: #f2f2f2;
}
.projects_grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "ima3 ima3 ima3"
    "ima3 ima3 ima3";
    gap: 10px
}

img{
    width: 100%;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































